.containerHeader{
    /* border: 1px solid rgba(0,0,0,0.2); */
    height: 6.5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 0 5rem;
    background-color: #FFF;
}

.sectionLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.textLeft{
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
}

.sectionRight {
    color: rgba(0,0,0,0.4);
    display: flex;
    gap: 2rem; 
    align-items: center;
}

.sectionRight a{
    color: var(--main-color);
}
.sectionRight button{
    background-color: var(--main-color);
    color: #FFF;
    border: none;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.logo{
    filter: invert(.7);
    width: 2rem;
}

.container_footer{
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.copy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.copy i{
    font-size: 2.5rem;
    color: rgb(158, 157, 157);
}

.footer_lists{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_lists h4{
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: rgba(0,0,0,0.5);
}

.footer_lists li{
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
}

.footer_lists li select{
    outline: none;
    padding: 1rem .5rem;
    padding-right: 5rem;
    background-color: transparent;
    border-radius: .5rem;
    border: 1px solid rgba(0,0,0,.1);
    text-align: left;
}