:root{
  --mode: url('https://caelum-online-public.s3.amazonaws.com/ESP-dark-theme-aluramas+/luna.png');
  --main-color: #fbd34c;
  --white: #fff;
  --black: #333;
  --gray:rgba(0, 0, 0, .6);
  --blue: rgba(17, 24, 39, 1);
  --blue-feacture: rgba(17, 24, 39, 1);
  --body: #F2F2F2
     

 
}

html{
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  background-color: var(--body);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul{
  list-style: none;
}

button{
  cursor: pointer;
}

/* rgb(1, 10, 32) */
.max_feature{
  background-color:var(--blue-feacture);
  color: var(--white);
  text-align: center;
  padding: 4rem 0;
    color: #fff;
}

.max_feature > div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;

}

.max_feature > div h2{
  font-size: 5rem;
}

.max_feature > div p{
  font-size: 1.6rem;
  max-width: 20rem;
}

.performance{
  text-align: center;
  padding: 4rem;
  width: 80rem;
  margin:  0 auto;
  padding-bottom: 2rem;
}

.performance h6{
  color: #fbd34c;
  font-size: 1.6rem;
}

.performance h2{
  font-size: 4rem;
  margin: 2rem 0;
  color: var(--blue);

}

.performance p{
  color: var(--gray);
  max-width: 50rem;
  margin: 0 auto;
  padding-bottom: 6rem;
}

.white_bg{
  background-color: var(--white);
}

@media screen and (max-width: 768px){
  
  .none{
    display: none;
  }
  .performance{
    text-align: center;
    padding: 4rem;
    width: 100%;
    margin:  0 auto;
      padding-bottom: 2rem;
  }

  .performance h2{
    font-size: 3rem;  
  }
  
  .max_feature > div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .max_feature > div h2{
    font-size: 3rem;
  }

  
  .max_feature > div p{
    font-size: 1.4rem;
  }
  
}


.mode {
  background-image: var(--mode);
  position: absolute;
  top: 3rem;
  left: 115rem;
  width: 6.3rem;
  height: 6.5rem;
}
.mode:hover {
cursor: pointer;
}

.darkMode {
  --mode: url('https://caelum-online-public.s3.amazonaws.com/ESP-dark-theme-aluramas+/sol.png');
  
  --body: rgba(17, 24, 39, 1);
  --white: rgb(21, 21, 21);
  --black: #fff;
  --gray: #fff;
  --blue: #fff;
  --blue-feacture: rgb(1, 10, 32)
}

