.containerHeader{
    /* border: 1px solid rgba(0,0,0,0.2); */
    height: 6.5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    padding: 0 2rem;
    background-color: #FFF;
}

.sectionLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.textLeft{
    display: flex;
    gap: 4rem;
    font-size: 1.6rem;
}

.sectionRight {
    color: rgba(0,0,0,0.4);
    display: flex;
    gap: 2rem; 
    align-items: center;
}

.sectionRight a{
    color: var(--main-color);
}
.sectionRight button{
    background-color: var(--main-color);
    color: #FFF;
    border: none;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.logo{
    filter: invert(.7);
    width: 2rem;
}

@media screen and (max-width:780px) {
    .containerHeader{
        /* border: 1px solid rgba(0,0,0,0.2); */
        flex-direction: column;
    }

    .textLeft{
        display: none;
    }
    
}