.containerTopBar{
    background-color: #2164D9;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4rem;
}